{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-5 welcome-message">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1><b>Welcome</b></h1>
        <p>Join to manage your support tickets efficiently.<br>Sign up to access your personalized dashboard.</p>
    </div>
    <div class="col-md-1 d-flex align-items-center justify-content-center">
        <div style="border-left: 1px solid #000; height: 100%;"></div>
    </div>
    <div class="col-md-6">
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <h2 class="text-center mb-4">Sign Up</h2>
                <div class="form-floating mb-3">
                    {% render_field form.email class="form-control" placeholder="name@example.com" %}
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.password1 class="form-control" placeholder="Password" %}
                    <label for="floatingInput">Enter Password</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
                    <label for="floatingInput">Confirm Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small><br>
                <small class="text-muted">Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
